downloads/

# Keep all image files local, including screenshots and camera RAW files.
*.[pP][nN][gG]
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[gG][iI][fF]
*.[wW][eE][bB][pP]
*.[aA][vV][iI][fF]
*.[sS][vV][gG]
*.[bB][mM][pP]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[hH][eE][iI][cC]
*.[hH][eE][iI][fF]
*.[iI][cC][oO]
*.[iI][cC][nN][sS]
*.[jJ][pP][2]
*.[jJ][xX][lL]
*.[pP][sS][dD]
*.[pP][sS][bB]
*.[rR][aA][wW]
*.[nN][eE][fF]
*.[nN][rR][wW]
*.[aA][rR][wW]
*.[sS][rR][fF]
*.[sS][rR][2]
*.[cC][rR][2]
*.[cC][rR][3]
*.[cC][rR][wW]
*.[dD][nN][gG]
*.[rR][aA][fF]
*.[oO][rR][fF]
*.[rR][wW][2]
*.[pP][eE][fF]
*.[rR][wW][lL]
*.[sS][rR][wW]
*.[xX][3][fF]
.gitignore